.hero-container {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    overflow-x: hidden;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.hero-header {
    flex: 0 0 45%;
    max-width: 45%;
    padding-right: 2rem;
    box-sizing: border-box;
}

.hero-header h1 {
    font-size: 3.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #333;
}

.hero-header p {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.mockup-container {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.mobile-slideshow-container {
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.mobile-slideshow-header {
    display: none;
    margin: 2rem 0;
}

.icons-social-hero {
    padding-top: 5rem;
}

@media (max-width: 1000px) {
    .hero-container {
        height: auto;
        min-height: calc(100vh - 100px);
    }

    .hero-content {
        flex-direction: column;
    }

    .hero-header {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
        margin-bottom: 2rem;
        text-align: center;
    }

    .mockup-container {
        display: none; /* Hide the mockup container on smaller screens */
    }

    .mobile-slideshow-container {
        display: flex; /* Show the slideshow on smaller screens */
    }

    .mobile-slideshow-header {
        display: block; /* Show the slideshow in header on smaller screens */
    }

    .hero-header h1 {
        font-size: 2.8rem;
    }

    .icons-social-hero {
        padding-top: 1rem;
    }
}

@media (max-width: 1000px) {
    .hero-header h1 {
        font-size: 2rem;
    }
}