.iphone-mockup {
  position: relative;
  width: 310px;
  height: 650px;
}

.iphone-mockup img {
  position: absolute;
  top: 0;
  left: 0;
  height: 650px;
  z-index: 2;
  -webkit-user-drag: none;
}

.iphone-mockup video {
  position: absolute;
  height: 630px;
  object-fit: cover;
  border-radius: 35px;
  top: 1.5%;
  left: 4%;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .iphone-mockup img {
    filter: invert(1);
  }
}
